# ignore python env:
env
__pycache__/

# ignore any testing artifacts:
.bash_history

# ignore saved weights but keep directory:
saved_weights/*
!saved_weights/.gitkeep

# ignore calibration data but keep directory:
calibration_data/normal/*
!calibration_data/normal/.gitkeep
calibration_data/anomaly/*
!calibration_data/anomaly/.gitkeep

