# ignore python env:
env
__pycache__/

# ignore datasets:
/datasets
!/datasets/.gitkeep

# ignore any testing artifacts:
.bash_history

# ignore saved weights but keep directory:
saved_weights
!saved_weights/.gitkeep

